CompileFlags:
  Add:
    # 通用编译选项
    - -std=gnu++17

    # Keil/嵌入式工程 & 模拟器的头文件搜索路径（从 c_cpp_properties.json 拷贝）
    - -Id:/AT32/X-TRACK/Software/X-Track/ArduinoAPI
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/Platform/Core
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/Platform
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/SdFat/src
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App
    - -Id:/AT32/X-TRACK/Software/X-Track/USER
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/libraries/cmsis/cm4/device_support
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/libraries/cmsis/cm4/core_support
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/libraries/cmsis/cm4/core_support/dsp
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/libraries/drivers/inc
    - -IC:/Keil_v5/ARM/ARMCC/include
    - -IC:/Keil_v5/ARM/ARMCC/include/rw
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Config
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Common/DataProc
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Pages
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Pages/StatusBar
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Pages/Startup
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Pages/Dialplate
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Pages/LiveMap
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Pages/SystemInfos
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Pages/_Template
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Resource
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Resource/Font
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Resource/Image
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/DataCenter
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/DataCenter/PingPongBuffer
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/Filters
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/GPX
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/GPX_Parser
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/lv_allocator
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/lv_anim_label
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/lv_ext
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/lv_img_png
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/lv_img_png/PNGdec/src
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/lv_poly_line
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/MapConv
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/MapConv/GPS_Transform
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/MapConv/TileSystem
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/new
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/PageManager
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/PointContainer
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/ResourceManager
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/StorageService
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/TonePlayer
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/Time
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/TileConv
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/App/Utils/TrackFilter
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/HAL
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/Platform/HAL
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/core
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/draw
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/layouts/flex
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/layouts/grid
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/themes/basic
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/themes/default
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/calendar
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/colorwheel
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/imgbtn
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/keyboard
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/led
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/list
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/msgbox
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/spinbox
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/spinner
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/tabview
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/tileview
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/win
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/font
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/hal
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/misc
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/widgets
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/chart
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/meter
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/span
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/widgets/animimg
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/others/snapshot
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/extra/others/monkey
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/src/draw/sw
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/demos/benchmark
    - -Id:/AT32/X-TRACK/Software/X-Track/Simulator/LVGL.Simulator/lvgl/demos/benchmark/assets
    - -Id:/AT32/X-TRACK/Software/X-Track/USER/lv_port
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/Platform/lv_port
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/Adafruit_GFX_Library
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/Adafruit_ST7789
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/ButtonEvent
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/LIS3MDL
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/LSM6DSM
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/MillisTaskManager
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/TinyGPSPlus/src
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/StackInfo
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/SdFat/src/FatLib
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/SdFat/src/SdCard
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/SdFat/src/SpiDriver
    - -Id:/AT32/X-TRACK/Software/X-Track/Libraries/cm_backtrace
    - -Id:/AT32/X-TRACK/Software/X-Track
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/libraries/cmsis/cm4/device_support/startup/mdk
    - -Id:/AT32/X-TRACK/Software/X-Track/MDK-ARM_F435/libraries/drivers/src

    # 关键宏定义（从 c_cpp_properties.json 精简）
    - -DLIBRARY_VERSION
    - -DARDUINO=111
    - -DUSE_STDPERIPH_DRIVER
    - -D__CC_ARM
    - -D__arm__

    # 一些常用 Keil 内建关键字的空定义，避免解析报错
    - -D__packed=
    - -D__weak=
    - -D__inline=inline
    - -D__forceinline=inline
    - -D__restrict=
